.icon{
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
}
.bar{
    background-color: #41C3C3;
    padding-left: 20px;
}
span{
    color: white;
    /* color: #000047; */
    font-weight:  bolder;
    font-size: 25px;
}
strong{
    color: #000047;
    font-weight:  bolder;
    font-size: 25px;
}
